@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-btn {
    @apply rounded-full cursor-pointer hover:bg-icon-hover p-1.5;
  }
  .menu {
    @apply py-1 rounded-md shadow-lg fixed bg-white border-x-2 border-t-[2px];
  }
  .modal-outer {
    @apply fixed h-screen w-screen bg-black bg-opacity-50 top-0 sm:grid sm:place-content-center z-50;
  }
  .modal-inner {
    @apply h-full w-full sm:rounded-md relative bg-white z-50;
  }
  .section-outer {
    @apply bg-header py-3 px-5;
  }
  .section-inner {
    @apply bg-white rounded-3xl h-full py-3;
  }
  .mail-btn {
    @apply rounded-full border-gray-400 border px-5 py-1 text-gray-700 hover:bg-gray-100;
  }
  .compose-btn {
    @apply transition-all duration-150 hover:shadow-lg hover:border-[#aedaf8] border border-transparent rounded-2xl bg-[#C2E7FF];
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.center-absolutly {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
